__pycache__/
.ipynb_checkpoints
Projects/2_Classical Planning/.vscode/settings.json
Projects/2_Classical Planning/.vscode/.ropeproject/objectdb
Projects/2_Classical Planning/.vscode/.ropeproject/config.py
Projects/2_Classical Planning/report.pdf
Projects/2_Classical Planning/classical_planning-result-279590.json
Projects/2_Classical Planning/classical_planning-279590.zip
Projects/3_Adversarial Search/matches.log
.vscode/settings.json
